<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
  <meta name="keywords" content="your keywords">
  <meta name="description" content="your description">
  <meta name="format-detection" content="telephone=no, email=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="/build2/common/css/base.css?v=1.0.1"/>
  <link rel="stylesheet" type="text/css" href="patient.css?v=1.0.1">
  <script src="/build2/common/js/flexible.js?v=1.0.0"></script>
  <script type="text/javascript">
        YYKY_CONTEXT_DATA = {};
        YYKY_CONTEXT_DATA["components_option_nav"] = {"isHideNav":true}; 
  </script>
  <style type="text/css">
  .header-tit{
    font-size: 0.4rem;
    text-align: left;
    margin-left: 1rem;
  }
  </style>
</head>
<body style="background-color: #fff">
  <div class="huigu-header">
    <a class="return-container" href="javascript:history.go(-1);">
      <span class="return"></span>
    </a>
    <p class="header-tit"></p>

    <!-- <img src="/build2/img/flup-info.png" class="addImg" onclick="addClick();"> -->
  </div>
  <div class="patient-detail">
    <div class="patient-detail-top"></div>
    <div class="patient-detail-main">
    </div>
  </div>

  <script src="/build2/common/js/jquery.min.js?v=1.0.0"></script>
  <script src="/build2/common/js/lodash.js?v=1.0.0"></script>
  <script src="/build2/common/js/address.js?v=1.0.0"></script>
  <script src="/build2/common/js/common.js?v=1.0.0"></script>
  <script src="/build2/common/js/yykyjsbridge.js?v=1.0.0"></script>

  <script type="text/html" id="detail">
    <p class="detail-tit"><%= title %></p>
    <p class="detail-con"><%= author %><span><%= formatDateTime(createDateTime) %></span></p>
    <p class="detail-content"><%= content %></p>
  </script>
  
  <script type="text/javascript">
    $(document).ready(function(){
      huiguPost(function(data){
        if(data.code == 0){
            $(".patient-detail-main").html(_.template($("#detail").html()) (data.data))

            $(".header-tit").html(data.data.title);

            getImgUrls($(".detail-content"),2)  //点击放大
        }else if(data.code == 71015){
          $(".patient-detail-main").html("该患教文章不存在")
        }
            
      },huiguPostUrl.getpatientDetail,{"patientEducationId":optUrlParams("patientEducationId")})
    })
  </script>
</body>
</html>