<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>随访问卷</title>
  <meta name="keywords" content="your keywords">
  <meta name="description" content="your description">
  <meta name="format-detection" content="telephone=no, email=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="/build2/common/css/base.css?v=1.0.1"/>
  <link rel="stylesheet" type="text/css" href="share.css?v=1.0.1">
  <script src="/build2/common/js/flexible.js?v=1.0.0"></script>
</head>
 <body>
  
  <div class="flup-content"></div>
  <div class="flup-eject">
    <div class="eject-con">
      <p class="eject-tit">您确定要提交问卷么？</p>
      <p><a class="cancel" onclick="applyAction.cancel()">暂不提交</a><a class="sure" onclick="applyAction.sure()">确认提交</a></p>
    </div>
  </div>
  <div class="flup-eject2">
    <div class="eject-con2">
      <p class="eject-tit">打开患教资料后，未提交的内容将丢失，确定继续？</p>
      <p><a class="cancel" onclick="applyToast.cancel()">返回</a><a class="sure" onclick="applyToast.sure()">继续浏览</a></p>
    </div>
  </div>
  <div id="toastId2" class="toasttj2" style="display: none; opacity: 0;"></div>
  
  <script src="/build2/common/js/jquery.min.js?v=1.0.0"></script>
  <script src="/build2/common/js/lodash.js?v=1.0.0"></script>
  <script src="/build2/common/js/address.js?v=1.0.0"></script>
  <script src="/build2/common/js/common.js?v=1.0.0"></script>
  <script src="share.js"></script>
  
  <script type="text/html" id="share_from">
    <% if(isWrite == true){ %>
      <div class="share-write"><i></i><span>该问卷已经填写过，不可以再填写</span></div>
      <div class="flup-content-color" style="padding-top: 1.066667rem"></div>
      <div class="share-tit">来自-<span><%= doctorName %></span>医生的随访问卷</div>
      <div class="flup-content-color"></div>
      <div class="flup-info">
        <p class="flup-info-tit">患者信息</p>
        <p class="flup-id"><span>身份证</span><input type="tel"  id="applyFromCard" required="required" placeholder="请输入身份证" maxlength="18" onchange="applyAction.idCardNumchecked()" value="<%-identityCard%>" disabled/></p>
        <p class="flup-name"><span>姓名</span><input type="text" id="applyFormName" placeholder="请输入姓名" maxlength="12" onchange="applyAction.requiredChecked()" value="<%-patientName%>" disabled/></p>
        <p class="flup-iphone"><span>手机号</span><input type="telephone"  id="applyFormPhone" placeholder="请输入手机号" maxlength="11" onchange="applyAction.phoneNumchecked()" value="<%-mobilePhone%>" disabled/></p>
      </div>
      <div class="flup-content-color"></div>
      <div class="flup-table">
        <p class="flup-table-tit"><%= title %></p>
        <% _.forEach(topics,function(item,index) { %>
          <% if(item.type == 1){ %>
          <div class="flup-from from-pack" data-id="<%- item.topicId %>">
            <p class="from-tit"><i><%= index+1 %>、</i><span><%= item.title %></span></p>
            <div class="from-pack-con"><textarea class="pack_textarea" onkeyup="wordStatic(this);" maxlength="100" placeholder="不可填写" rows="5" value="<%- item.answerContent %>" data-id="<%- item.topicId %>" disabled></textarea><div class="weui_textarea_counter"><span class="num">0</span>/100</div></div>
          </div>
          <% }else if(item.type == 2){ %>
          <div class="flup-from from-radio" data-id="<%- item.topicId %>">
            <p class="from-tit"><i><%= index+1 %>、</i><span><%= item.title %></span></p>
            <div class="apply_from_subject divRadio">
              <% _.forEach(item.topicDetailList,function(list,topic) { %>
              <label aria-checked="false" data-id="<%- list.topicDetailId %>"><input type="radio" name="level" value="<%- String.fromCharCode(65+topic) %>" /><i class="Iradio"><%= String.fromCharCode(65+topic) %></i><span><%= list.content %></span></label>
              <% }) %>
            </div>
          </div>
          <% }else if(item.type == 3){ %>
          <div class="flup-from from-checkbox" data-id="<%- item.topicId %>">
            <p class="from-tit"><i><%= index+1 %>、</i><span><%= item.title %></span></p>
            <div class="apply_from_subject divcheckbox">
              <% _.forEach(item.topicDetailList,function(list,topic) { %>
              <label aria-checked="false" data-id="<%- list.topicDetailId %>"><input type="checkbox" name="spine-surgery" value="<%- String.fromCharCode(65+topic) %>"/><i class="Icheckbox"><%= String.fromCharCode(65+topic) %></i><span><%= list.content %></span></label>
              <% }) %>
            </div>
          </div>
          <% } %>
        <% }) %>
      </div>
      <% if(patientEducationId){ %>
      <div class="flup-content-color"></div>
      <div class="flup-data">
        <p class="flup-data-tit">患教资料</p>
        <p class="flup-data-link"><a href="http://www.baidu.com"><%= patientEducationTitle %></a></p>
      </div>
      <% } %>
      <input class="flup-btn" onclick="applyAction.submit()" value="提交" disabled>
    <% }else{ %>
      <div class="share-tit">来自-<span><%= doctorName %></span>医生的随访问卷</div>
      <div class="flup-content-color"></div>
      <div class="flup-info">
        <p class="flup-info-tit">患者信息</p>
        <p class="flup-id"><span>身份证</span><input type="tel"  id="applyFromCard" required="required" placeholder="请输入身份证" maxlength="18" onchange="applyAction.idCardNumchecked()" value="<%-identityCard%>"/></p>
        <p class="flup-name"><span>姓名</span><input type="text" id="applyFormName" placeholder="请输入姓名" maxlength="12" onchange="applyAction.requiredChecked()" value="<%-patientName%>"/></p>
        <p class="flup-iphone"><span>手机号</span><input type="telephone"  id="applyFormPhone" placeholder="请输入手机号" maxlength="11" onchange="applyAction.phoneNumchecked()" value="<%-mobilePhone%>"/></p>
      </div>
      <div class="flup-content-color"></div>
      <div class="flup-table">
        <p class="flup-table-tit"><%= title %></p>
        <% _.forEach(topics,function(item,index) { %>
          <% if(item.type == 1){ %>
          <div class="flup-from from-pack" data-id="<%- item.topicId %>">
            <p class="from-tit"><i><%= index+1 %>、</i><span><%= item.title %></span></p>
            <div class="from-pack-con"><textarea class="pack_textarea" onkeyup="wordStatic(this);" maxlength="100" placeholder="填写答题框" rows="5" value="<%- item.answerContent %>" data-id="<%- item.topicId %>"></textarea><div class="weui_textarea_counter"><span class="num">0</span>/100</div></div>
          </div>
          <% }else if(item.type == 2){ %>
          <div class="flup-from from-radio" data-id="<%- item.topicId %>">
            <p class="from-tit"><i><%= index+1 %>、</i><span><%= item.title %></span></p>
            <div class="apply_from_subject divRadio">
              <% _.forEach(item.topicDetailList,function(list,topic) { %>
              <label aria-checked="false" data-id="<%- list.topicDetailId %>"><input type="radio" name="level" value="<%- String.fromCharCode(65+topic) %>" /><i class="Iradio"><%= String.fromCharCode(65+topic) %></i><span><%= list.content %></span></label>
              <% }) %>
            </div>
          </div>
          <% }else if(item.type == 3){ %>
          <div class="flup-from from-checkbox" data-id="<%- item.topicId %>">
            <p class="from-tit"><i><%= index+1 %>、</i><span><%= item.title %></span></p>
            <div class="apply_from_subject divcheckbox">
              <% _.forEach(item.topicDetailList,function(list,topic) { %>
              <label aria-checked="false" data-id="<%- list.topicDetailId %>"><input type="checkbox" name="spine-surgery" value="<%- String.fromCharCode(65+topic) %>"/><i class="Icheckbox"><%= String.fromCharCode(65+topic) %></i><span><%= list.content %></span></label>
              <% }) %>
            </div>
          </div>
          <% } %>
        <% }) %>
      </div>
      <% if(patientEducationId){ %>
      <div class="flup-content-color"></div>
      <div class="flup-data">
        <p class="flup-data-tit">患教资料</p>
        <p class="flup-data-link"><a onclick="applyToast.submit();"><%= patientEducationTitle %></a></p>
      </div>
      <% } %>
    <a class="flup-btn" onclick="applyAction.submit()">提交</a>
    <% } %>
    
  </script>


  <!-- 微信分享 -->
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

  <!-- wxapiauth.hk515.com -->
  <script type="text/javascript" id="wxscript"></script>
  <script type="text/javascript">
    var star = encodeURIComponent(location.href.split('#')[0]);
    document.getElementById('wxscript').src='http://hg-weixin.szyyky.com/thirdpartyapi/thirdPartyUser/getSignature?appId=wxf5bdc71fe3151bc4&noncestr=1428560985&timestamp=1428560985&callback=wxInput&url='+ star;
  </script>

  <script>
    var sTitle,sTitle2,sDesc,sLink,imgUrl;
    huiguPost(function(data){
      if(data.code == 0){
        sTitle = data.data.shareTitle;
        sTitle2 = data.data.shareTitle;
        sDesc = data.data.shareContent;
        sLink = data.data.shareUrl;
        imgUrl = data.data.shareImgUrl;

        var wxShare = document.createElement("script");
        wxShare.src='/build2/common/js/wxShare.js';
        document.getElementsByTagName("body")[0].appendChild(wxShare);
      }
    },huiguPostUrl.getShare,{"topicId":optUrlParams("topicId"),"topicType":12})
    
    function wxInput(obj) {
      window.cookieObj = obj;
    }
  </script>
</body> 
</html>