.course-series-container
    width: 100%
    text-align: left 
    padding-bottom: 20px
    margin-bottom: 23px
    border-bottom: 1px solid #dadada
    .content
        display: block
        width: 100%
        height 400px
        position relative
        overflow hidden
        .back-container
            width: 100%
            height 100%
            z-index 1
        .cover
            position: absolute
            top: 0
            left 0
            width: 100%
            height 100%
            opacity 0.4
            background-color: #222832
            z-index 3
        .video-flag
            width: 100px
            z-index 5
            position: absolute
            top: 50%
            left 50%
            transform: translateX(-50%) translateY(-50%);
            pointer-events: none
        .advance
            position: absolute
            right: -30px
            top: 18px
            width: 120px
            z-index: 30;
            font-size: 24px
            text-align: center
            color: #ffffff
            background-color: #36bac9
            -moz-transform:rotate(45deg);
            -webkit-transform:rotate(45deg);
            -o-transform:rotate(45deg);
            transform:rotate(45deg); 
        .header
            pointer-events: none
            width: 100%
            line-height: 50px
            padding: 20px
            position: absolute
            top: 0
            left 0
            font-size: 24px
            color: #ffffff
            z-index 20
            .study-head
                width: 50px
                height 50px
                border-radius: 50%
            .learn-group
                 width: 35px
                 margin: 0 20px 0 50px
        .footer
            width: 100%
            line-height: 30px
            padding: 20px
            position: absolute
            bottom: 0
            left 0
            font-size: 24px
            color: #ffffff
            z-index 20
            .time img
                width: 30px
                height 30px
                margin-top: -10px
                margin-right: 10px
            .flag
                float: right 
        .swiper
            width 100%
            height 100px
            position: absolute
            bottom: 0
            left 0
            z-index 10
            .swiper-container
                height 100%
                .item-container
                    display: block
                    float: left
                .item-border
                    display: block
                    width: 1%
                    height 100%
                    background: transparent
                    float left
                .series-item
                    width: 99%
                    height 100%
                    background-color: rgba(52,69,89,0.6)
                    // margin-right: 2px
                    color: #ffffff
                    padding: 0 15px
                    position relative
                    overflow hidden
                    text-align: center
                    float: left
                    display: inline-block
                    .class-num
                        margin-top: 15px
                        font-size: 30px
                    .class-desc
                        font-size: 24px
                    .advance
                        position: absolute
                        right: -30px
                        top: 10px
                        width: 100px
                        font-size: 24px
                        text-align: center
                        color: #ffffff
                        background-color: #36bac9
                        -moz-transform:rotate(45deg);
                        -webkit-transform:rotate(45deg);
                        -o-transform:rotate(45deg);
                        transform:rotate(45deg); 
                .series-item-advance
                    color: #c0c6d0
                
    .title
        margin-top: 40px
        font-size: 34px
        color: #344559
    .desc
        margin: 25px 0
        font-size: 26px
        color: #919dae
    .author
        margin: 20px 0
        font-size: 26px
        color: #36bac9
        line-height: 50px
        position relative
        .left
            width: 80%
            .author-head
                width: 50px
                height 50px
                border-radius: 50%
                margin-top: -5px
        .price
            position: absolute;
            right: 0;
            top: 0;


