.header-tit
    width: 100% !important;
    text-align: center;
.shareBtn
    position: absolute
    display inline-block
    width: .48rem;
    height: .56rem;
    right: .426667rem;
    top: .386667rem;
    background: url('/build2/img/shareBtn.png') no-repeat top center;
    background-size: 100% 100%;
    border: none
.huigu-header-opaque .shareBtn
    background: url('/build2/img/white-share.png') no-repeat top center;
    background-size: 100% 100%;
.alliance-index-box
    width 100%
    height 100%
    background-color #f3f3f3
    // margin-top 100px
    .alliance-tit
      font-size 30px
      color #919dae
      padding-bottom 35px
      padding-top 48px
      i
        background-color #36bac9
        width 6px
        height 29px
        border-radius 3px
        margin-right 20px
        display inline-block
    .alliance-banner
        width 100%
        height 350px
        position relative
        .banner
            min-width 100%
            height 100%
            width 100%
            min-height 100%
        .group
            width: 172px
            height 60px
            border-radius: 30px
            background-color: rgba(54,186,201,0.8)
            position: absolute
            right 40px
            bottom: 20px
            text-align: center
            line-height: 60px
            color: #ffffff
            font-size: 24px
            display: none
            img
                width: 34px
                margin-top: -10px
                pointer-events: none
            span
                pointer-events: none
    .alliance-tab
        margin: 0 auto;
        width: 100%
        height 6.6%
        .alliance-tab-container
            position: relative
            margin: 0 auto;
            width: 100%
            height 100%
            display: flex
            justify-content: space-between
            align-items: center
            .alliance-tab-item
                text-align: center
                display: inline-block
                width: 32.5%
                font-size: 30px
                color: #344559
                margin: 20px 0;
                border-left: 0.0275rem solid #dcdcdc
            .alliance-tab-item:first-child 
                border-left: none
            .active-flag
                position: absolute
                width: 33%
                border-bottom: 4px solid #5fd3e4
                bottom: 0;
                left: 0;
                transition: left 500ms ease
                -o-transition: left 500ms ease
                -ms-transition: left 500ms ease
                -moz-transition: left 500ms ease
                -webkit-transition: left 500ms ease
            .active-0
                left: 0px;
            .active-1
                left: 33.5%;
            .active-2
                left: 67%;
            
    .alliance-list
        width: 100%
        height: 93.5%
        // padding: 20px 0;
        overflow: hidden
        // height: 68%;
        // padding-bottom: 142px
        .alliance-container
            height: 100%
            width: 300%
            margin-left: 0
            transition: margin-left 500ms ease
            -o-transition: margin-left 500ms ease
            -ms-transition: margin-left 500ms ease
            -moz-transition: margin-left 500ms ease
            -webkit-transition: margin-left 500ms ease
            .alliance-item
                min-height: 10px
                float: left
                width: 33.333333%
                -webkit-overflow-scrolling: touch;
                .alliance-info
                    width 100%
                    padding 0 30px
                    background-color #fff
                .alliance-info-main
                    font-size 30px
                    color #4e5e75
                    line-height 40px
                    padding-bottom 54px
                    word-wrap:break-word; 
                    word-break:normal;
                .alliance-expert
                    background-color #fff
                    margin-top 20px
                    padding 0 30px
                    overflow hidden
                .aliiance-expert-main
                    padding-left 30px
                    overflow-x scroll
                    -webkit-overflow-scrolling: touch;
                    ul
                        li
                            float: left
                            width 140px
                            display inline-block
                            text-align center
                            margin-right 50px
                            margin-bottom 38px
                            .expert-img
                                width 140px
                                height 140px
                                border-radius 50%
                                overflow hidden
                                display block
                            img
                                height 100%
                                width 100%
                            .expert-tit
                                height: 43px
                                font-size 32px
                                color #344559
                                margin 19px 0 17px 0
                                overflow:hidden; 
                                text-overflow:ellipsis;
                                display:-webkit-box; 
                                -webkit-box-orient:vertical;
                                -webkit-line-clamp:1; 
                                word-wrap:break-word; 
                                word-break:normal;
                            .expert-con
                                height: 38px
                                font-size 26px
                                color #919dae
                                overflow:hidden; 
                                text-overflow:ellipsis;
                                display:-webkit-box; 
                                -webkit-box-orient:vertical;
                                -webkit-line-clamp:1; 
                                word-wrap:break-word; 
                                word-break:normal;
                .alliance-hosp
                    background-color #fff
                    margin-top 20px
                    padding-left 30px
                    ul
                        padding-bottom: 40px
                        li
                            position relative
                            margin-bottom: 40px
                            height 200px
                        .hosp-img
                            width 160px
                            height 160px
                            position absolute
                            img 
                                width 100%
                                height 100%
                        .hosp-main
                            width 72%
                            height 200px
                            border-bottom 1px solid #dbdbdb
                            display inline-block
                            margin-left 28%
                            position relative
                            .hosp-main-tit
                                font-size 32px
                                color #344559
                                margin-bottom 58px
                                padding-right 30px
                                overflow:hidden; 
                                text-overflow:ellipsis;
                                display:-webkit-box; 
                                -webkit-box-orient:vertical;
                                -webkit-line-clamp:1; 
                                word-wrap:break-word; 
                                word-break:normal;
                            .hosp-main-con
                                position: absolute
                                bottom: 40px
                                font-size 26px
                                color #919dae
                                padding-right 30px
                                line-height 36px
                                overflow:hidden; 
                                text-overflow:ellipsis;
                                display:-webkit-box; 
                                -webkit-box-orient:vertical;
                                -webkit-line-clamp:2; 
                                word-wrap:break-word; 
                                word-break:normal;
                        li:last-child
                            .hosp-main
                                border none
            .alliance-detail
                background-color: #f3f3f3;
                height: 100%;
            .alliance-conference    
                padding: 40px
                background-color: #ffffff;
                height: 100%;
            .alliance-service
                background-color: #ffffff;
                height: 100%;
                padding: 18px 20px
                .service-container
                    .service-item
                        display: inline-block;
                        margin: 0 20px 20px 20px
                        .service-main
                            position: relative
                            width: 311px
                            height: 200px
                            display: inline-block
                            img
                                width: 100%
                                height: 100%
                            .title
                                position: absolute
                                top: 0
                                left: 0
                                padding: 10px 15px
                                color: #ffffff
                                background-color: #36bac9
                        .service-link
                            width: 311px     
                            padding: 20px
                            text-align: center
                            .link
                                display: inline-block
                                font-size: 30px
                                color: #c0c6d0
                                padding: 20px 70px
                                border: 0.0277rem solid #c0c6d0
                                border-radius 36px


.huigu-box-opaque .alliance-item
    height: 100%;
    overflow-y: scroll;

.empty
    display block !important
    padding-top: 0 !important
    margin-bottom: 0 !important
    img
        margin-top: 0 !important
