.replay-card-container
    width: 100%
    background: #ffffff
    .replay-card-title
        font-size: 32px
        color: #344559
        padding-left: 40px
        word-wrap:break-word; 
        word-break:normal;
    .question-card-no
        font-size: 32px
        color: #344559
        float: left;
    .replay-card-textarea
        width: 100%; 
        height: 200px;
        border: 0.0275rem solid #e0e0e0;
        background none;
.reply-edit-card-container
    width: 100%
    height: auto
    background: #ffffff
    padding: 20px
    margin-bottom: 400px
    .reply-card-submit
        font-size: 30px
        color: #36bac9
        float: right
    .reply-card-cancel
        font-size: 30px
        color: #acb5c2
        float: right
        margin-right: 72px
    .reply-card-title
        width: 100%
        height: 120px
        font-size: 32px
        color: #344559
        padding: 20px 30px
        border: 0.0275rem solid #e0e0e0;
        background none;