.pay-box
  width 100%
  height 100%
  background-color #f3f3f3
  .care
    height 70px
    line-height 70px
    background-color #919dae
    width 100%
    text-align center
    color #fff
    font-size 24px
    position relative
    i
      display inline-block
      width 30px
      height 30px
      background:url(http://patienth5.szyyky.com/build/imgWX/care.png)no-repeat top center
      background-size 100% 100%
      margin-right 14px
      position relative
      top 5px
  .payName,.payNumber,.payTime
    height 120px
    line-height 120px
    display block
    background-color #fff
    p
      border-bottom 1px solid #dbdbdb /*no*/
      width 90%
      margin 0 auto
      color #919dae
      font-size 30px
      position relative
      span
        position absolute
        right 5px
        font-size 32px
        color #344559
  .payMoney
    height 140px
    line-height 140px
    background-color #fff
    p
      width 90%
      margin 0 auto
      color #919dae
      font-size 30px
      position relative
      span.amount
        position absolute
        right 5px
        i
          color #fb699d
          font-size 34px
        
  .payBtn
    width 100%
    height 100px
    background-color #36bac9
    color #fff
    line-height 100px
    position fixed
    bottom 0
    left 0
    text-align center
    font-size 30px
    a
      color #fff
      display block
      width 100%
      
      
.opera-defrayal
    position fixed
    z-index 100
    top 0;
    left 0;
    width 100%
    height 100%
    background-color rgba(0,0,0,0.2)
    display none
    .opera-pay-confirm
      display none
      width 100%
      text-align center
      .layout-main
        background-color #fff
        width 77.5%
        position absolute
        left 11.25%
        top 35%
        text-align center
        border-radius 10px
        p
          color #4e5e75
          font-size 32px
          border-bottom 1px solid #dbdbdb /*no*/
          margin-top 92px
          padding-bottom 62px
        a
          font-size 30px
          color #919dae
          height 100px
          line-height 100px
          display inline-block
          width 50%
        a.quit
          border-right 1px solid #ddd /*no*/
        a.cancel
          color #36bac9
    .opera-pay-loading
      width 100%
      position absolute
      margin 0 auto;
      top 40%
      display none
      .layout-main
        width 25%
        background-color #fff
        border-radius 8%
        margin 0 auto
        text-align center
        img
          width 40%
          margin 20% auto