
.msg-share-container
    // padding: 20px 30px 0
    width: 100%
    border-bottom: 1px solid #dbdbdb
    overflow hidden
    .msg-share-title
        font-size: 32px
        color: #4e5e75
    .msg-share-content
        width: 100%
        font-size: 26px
        color: #919dae
        margin: 20px 0
.msg-text
    padding: 20px 30px !important
    .msg-share-tip
        font-size: 24px
        color: #c0c6d0
        
