.hg-icon-chat
    background: url('../../img/chat-unselect.png') no-repeat center
.hg-icon-article
    background: url('../../img/article-unselect.png') no-repeat center
.hg-icon-self
    background: url('../../img/self-unselect.png') no-repeat center
.hg-icon-select
    .icon-title
        color: #36bac9 !important
    .hg-icon-chat
        background: url('../../img/chat-select.png') no-repeat center
        background-size: 85% 100%;
    .hg-icon-article
        background: url('../../img/article-select.png') no-repeat center
        background-size: 85% 100%;
    .hg-icon-self
        background: url('../../img/self-select.png') no-repeat center
        background-size: 85% 100%;
.hg-icon-22
    width: 100%
    height 100%
    display: inline-block;
    background-size: 85% 100%;
    color: #aab3c0 !important
.g-window .u-list-item .icon
    width: 90px
    height 90px