<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>工作室</title>
  <meta name="keywords" content="your keywords">
  <meta name="description" content="your description">
  <meta name="format-detection" content="telephone=no, email=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="/build/common/css/base.css"/>
  <link rel="stylesheet" href="/build/common/css/public/public.css">
  <link rel="stylesheet" type="text/css" href="../studio/studio.css">
  <script src="/build/common/js/flexible.js?v=1.0.0"></script>
  <style>
      ::-webkit-scrollbar {
         width: 0em;
      }
      ::-webkit-scrollbar:horizontal {
        height: 0em;
      }
  </style>
</head>
<body class="studio-page">
    <div class="studio-header"></div>
    <script type="text/html" id="studio-header">
        <img src="<%- data.photo %>" alt="" class="studio-header-img"/>
        <div class="studio-header-content">
            <p class="header-tit"><%= data.name %></p>
            <div class="series-detail">
                <div class="hg-alin-middle hg-inline-block">
                    <img src="../../../img/white-video.png"/>
                    <span class=""><%= data.courseCount||0 %>课程</span>
                </div>
                <div class="hg-alin-middle hg-inline-block">
                    <img src="../../../img/white-txt.png"/>
                    <span class=""><%= data.projectCount||0 %>专题</span>
                </div>
                <div class="hg-alin-middle hg-inline-block">
                    <img src="../../../img/white-news.png"/>
                    <span class=""><%= data.articleCount||0 %>文章</span>
                </div>
            </div>
        </div>
    </script>

    <div class="studio-tab">
        <ul class="studio-tab-container">
            <li class="studio-tab-item studio-tab-active"><a>简介</a></li>
            <li class="studio-tab-item"><a>成员</a></li>
            <li class="studio-tab-item"><a>作品</a></li>
            <li class="studio-tab-item"><a>服务</a></li>
            <span class="active-flag"></span>
        </ul>
    </div>

    <div class="studio-list">
        <div id="studio-container" class="studio-container hg-clear">
            <div id="studio-detail-page" class="studio-item-page studio-detail"></div>
            <script type="text/html" id="studio-detail-container">
                <p class="detail-title">擅长</p>
                <div class="detail-goodat">
                    <% _.forEach(data.goodAtLabel, function(item) { %>
                    <span class="goodat-item"><%= item %></span>
                    <% }) %>
                </div>
                <p class="detail-title">简介</p>
                <div class="detail-goodat">
                    <p class="content">
                        <%= data.introduction %>
                    </p>
                </div>
            </script>

            <div id="studio-member-page" class="studio-item-page studio-member">
                <ul class="member-container" id="member-container"></ul>
                <script type="text/html" id="member-item">
                    <% _.forEach(data,function(item,index) { %>
                    <a class="member-item hg-clear" href="<%- '/build/components/general/personal/index.html?doctorUserId='+item.doctorUserId %>">
                        <span style="background-image:url('<%- item.avatar||'../../../img/icon.png' %>')" class="member-header hg-header-img"></span>
                        <div class="member-main hg-ml20">
                            <div class="hg-clear hg-alin-middle">
                                <span class="name hg-mr20 hg-word-clamp hg-word-clamp-1 hg-left"><%= item.name %></span>
                                <span class="flag hg-left">
                                    <% if(item.serviceInfo&&item.serviceInfo.indexOf(1)>=0){ %>
                                    <span class="item art">术</span>
                                    <% } %>
                                    <% if(item.serviceInfo&&item.serviceInfo.indexOf(3)>=0){ %>
                                    <span class="item examine">诊</span>
                                    <% } %>
                                    <% if(item.serviceInfo&&item.serviceInfo.indexOf(2)>=0){ %>
                                    <span class="item teacg">教</span>
                                    <% } %>
                                    <% if(item.serviceInfo&&item.serviceInfo.indexOf(4)>=0){ %>
                                    <span class="item zhuan">专</span>
                                    <% } %>
                                    <% if(item.serviceInfo&&item.serviceInfo.indexOf(5)>=0){ %>
                                    <span class="item tuan">团</span>
                                    <% } %>
                                </span>
                                <% if(item.role==1){ %>
                                <span class="position-item">首席专家</span>
                                <% }else{ %>
                                    <% if(item.roleName){ %>
                                    <span class="position-item"><%= item.roleName %></span>
                                    <% } %>
                                <% } %>
                            </div>
                            <p class="hospital hg-word-clamp hg-word-clamp-1"><%= item.professionalTitleName %> | <%= item.hospitalName %></p>
                            <p class="gootat hg-mt10 hg-word-clamp hg-word-clamp-1"><%= item.expertise?
                                '擅长：'+item.expertise:'' %></p>
                        </div>
                    </a>
                    <% }) %>
                </script>
            </div>
            <div id="studio-article-page" class="studio-item-page studio-article">
                <ul class="article-container" id="article-container"></ul>
                <script type="text/html" id="article-item">
                    <% _.forEach(data,function(item,index) { %>
                        <a class="article-item hg-clear" href="<%- 
                            item.itemType==1?'/build/components/general/course/course.html?courseId='+item.itemId:
                            (item.itemType==2?'/build/components/general/courseSeries/courseSeries.html?projectId='+item.itemId:
                            '/build/pages/article/article.html?newsId='+item.itemId)
                        %>">
                            <div class="hg-clear">
                                <p class="title hg-mt10 hg-word-clamp hg-word-clamp-3"><%= item.itemType==2?'【专题】':'' %><%= item.itemName %></p>
                                <div class="content">
                                    <img src="<%- item.itemImage %>" alt=""/>
                                    <div style="width:100%" class="cover hg-alin-middle <%- item.itemType==1?'video-show':'' %>">
                                        <span class="video"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="article-main  hg-alin-middle">
                                <span class="name hg-mr20 hg-alin-middle">
                                    <% if(item.itemType == 1){ %>
                                        <img src="../../../img/time.png" class="time hg-mr10"><%= parseInt(item.videoTime/60) %>min
                                    <% }else if(item.itemType == 3){ %>
                                        <%= item.newsCategoryTypeName %>   
                                    <% }else if(item.itemType == 2) { %>
                                        已更新至<%= item.updatedCount %>课
                                    <% } %>
                                </span>
                                <% if(item.itemType == 3){ %>
                                <span class="name hg-alin-middle">
                                    <img src="../../../img/read.png" class="time hgmr5"/><span class="hg-inline-bloack hg-mr20"><%= countData(item.readCount) %></span>
                                    <img src="../../../img/give.png" class="time hgmr5"/><span><%= countData(item.praiseCount) %></span>
                                </span>    
                                <% }else if(item.itemType == 1){ %>
                                <span class="<%- item.isFree?'time':'price' %>">￥<%= item.isFree?'免费':item.courseDiscountPrice %></span>
                                <% } %>
                            </div>
                        </a>
                    <% }) %>
                </script>
            </div>
            <div id="studio-service-page" class="studio-item-page studio-service">
                <ul class="service-container"></ul>
                <script type="text/html" id="service-item">
                    <% _.forEach(data,function(item,index) { %>
                    <li class="service-item">
                        <div class="service-main">
                            <img src="<%- item.img %>" alt=""/>
                            <span class="title"><%= item.title %></span>
                        </div>
                        <!-- <div class="service-link">
                            <a href="javascript:void(0);" class="link" onclick='linkToDownload()'><%= item.linkname %></a>
                        </div> -->
                    </li>
                    <% }) %>    
                </script>
            </div>
        </div>
    </div>

    <div id="toastId2" class="toasttj2" style="display: none; opacity: 0;"></div>
    <script src="../../../common/js/require.js" defer async="true" data-main="../studio/studio.js"></script>
    <script src="/build/common/js/download-bar.js?v=1.0.0"></script>
</body>
</html>