a.articleA
  display block
  padding-bottom 20px
  margin-bottom .306667rem
  border-bottom .013333rem solid #dadada
  .article-list-top
    width 100%
    height 160px
    position relative
    margin-bottom 20px
    .article-list-img
      position absolute
      right 0
      top 0
      width 33%
      height 100%
      overflow hidden
      img
        width 100%
        height 100%
    .article-list-title
      width 62.5%
      display block
      text-align left
      font-size 32px
      line-height 48px
      color #344559
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      word-wrap:break-word; 
      word-break:normal;
      -webkit-box-orient: vertical;
      text-decoration: none
  .article-list-bottom
    position relative
    width 100%
    color #919dae
    height 35px
    .article-list-source
      width 60%
      overflow: hidden;
      text-align left
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      word-wrap:break-word; 
      word-break:normal;
      -webkit-box-orient: vertical;
      text-decoration: none
    .list-source
      position absolute
      right 0
      top 0
      color #c0c6d0
      font-size 24px 
      .article-list-view
        margin-right 60px
        i
          display inline-block
          position relative
          top 2px
          width 34px
          height 25px
          background url("/build/img/readIcon.png") no-repeat top center
          background-size 100% 100%
          margin-right 8px
      .article-list-give
        i
          display inline-block
          position relative
          top 5px
          width 34px
          height 34px
          background url("/build/img/giveIcon.png") no-repeat top center
          background-size 100% 100%
          margin-right 8px