<div class="video-container">
    <!-- <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" 
     width="100%" height="264" data-setup="{}" poster="1.png" x5-video-player-type="h5" x5-video-player-fullscreen="true" playsinline="true" webkit-playsinline="true" x-webkit-airplay="true"
>
            <source src="http://jq22com.qiniudn.com/jq22-sp.mp4" type="video/mp4">
    </video> -->
    <!-- <video id="my-video" class="video-js" controls preload="auto" width="100%" height="240" style="object-fit:fill;width:100%"
        poster="m.png" data-setup="{}">
        <source src="http://jq22com.qiniudn.com/jq22-sp.mp4" type="video/mp4">
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video> -->

    <video controls preload="none" autoplay="autoplay" 
        width="100%" height="18%" x5-video-player-type="h5" 
        x5-video-player-fullscreen="true" playsinline="true" webkit-playsinline="true" -webkit-playsinline="true" x-webkit-airplay="true">
        <source src="<%- source%>" type="video/mp4">
    </video>
</div>