.video-list-page
    width: 100%
    height 100%
    background-color: #f3f3f3
    .banner-container
        width: 100%
    .course-list-container
        padding: 40px
        padding-bottom: 0
        background-color: #ffffff
        margin-top: 20px
        overflow-y: scroll;
        .main-content
            height: 100%
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;

