<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>学院</title>
  <meta name="keywords" content="your keywords">
  <meta name="description" content="your description">
  <meta name="format-detection" content="telephone=no, email=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="/build/common/css/base.css"/>
  <link rel="stylesheet" href="/build/common/css/public/public.css">
  <link rel="stylesheet" type="text/css" href="../channelList/ChannelList.css">
  <link rel="stylesheet" type="text/css" href="/build/common/css/swiper.min.css" />
  <script src="/build/common/js/flexible.js?v=1.0.0"></script>
  <style>
        ::-webkit-scrollbar {
           width: 0em;
        }
        ::-webkit-scrollbar:horizontal {
          height: 0em;
        }
    </style>
</head>
<body class="video-list-page" id="video-list-page">
    <div class="banner-container" id="banner-container"></div>
    <div class="course-list-container">
        <div class="main-content" id="college-channel-content"></div>
    </div>

    <div id="toastId2" class="toasttj2" style="display: none; opacity: 0;"></div>
    <script src="../../../common/js/require.js" defer async="true" data-main="../channelList/ChannelList.js"></script>
</body>
</html>