body
  width 100%
  height 100%
  overflow hidden
  #apply-btn
    height 100px
    line-height 100px
    bottom 0
    width 90%
    color #fff
    background-color #36bac9
    text-align center
    font-size 30px
    margin 60px auto
    display block
    cursor pointer
  .apply-btn.input:disabled
    background-color #919dae
  .apply-main
    width 90%
    margin 0 auto
    padding-top 10px
    p
      height 110px
      line-height 110px
      width 100%
      border-bottom 0.0267rem solid #dbdbdb
      position relative
      input
        color #344559
        border none
        height 110px
        line-height 110px
        position relative
        font-size 30px
        margin-left 74px
        width 580px
      input::-webkit-input-placeholder
        color #c0c6d0
        text-shadow: none; 
        -webkit-text-fill-color: initial;
    p.card01
      i
        position absolute
        width 36px
        height 38px
        background: url('/build/imgWX/card01.png') no-repeat top center
        background-size 100% 100%
        top 50%
        margin-top -19px
        left 6px
    p.card02
      i
        position absolute
        width 40px
        height 34px
        background: url('/build/imgWX/card02.png') no-repeat top center
        background-size 100% 100%
        top 50%
        margin-top -17px
        left 4px
        
  .apply-layout
    background-color rgba(0,0,0,0.2)
    width 100%
    height 100%
    position fixed
    z-index 100
    top 0
    left 0
    display none
    .layout-main2
      background-color #fff
      width 77.5%
      position absolute
      left 11.25%
      top 35%
      text-align center
      border-radius 10px
      display none
      p
        color #4e5e75
        font-size 32px
        border-bottom 1px solid #dbdbdb /*no*/
        margin-top 92px
        padding-bottom 62px
      a
        font-size 30px
        color #919dae
        height 100px
        line-height 100px
        display inline-block
        width 50%
      a.quit
        border-right 1px solid #ddd /*no*/
      a.cancel
        color #36bac9
    .layout-main1
      background-color #fff
      width 77.5%
      position absolute
      left 11.25%
      top 35%
      text-align center
      border-radius 10px
      display none
      p
        color #4e5e75
        font-size 32px
        border-bottom 1px solid #dbdbdb /*no*/
        margin-top 92px
        padding-bottom 62px
      a
        font-size 30px
        color #919dae
        height 100px
        line-height 100px
        display inline-block
        width 100%