body.index
  background-color #f3f3f3;
  width 100%
  .index-top
    width:100%;
    height:556px;
    background-color:#43547d;
    color:#fff;
    text-align:center;
    background: url('/build/imgWX/backbg.png') no-repeat top center
    background-size 100% 100%
    padding-top 77px
    // .logo
    //   width 250px;
    //   height 250px;
    //   margin 77px auto;
    .upload
      width 200px
      height 200px
      line-height 200px
      border-radius 50%
      background-color rgba(0,0,0,0)
      border 0.0267rem solid #fff
      display block
      margin 0 auto 77px
      overflow hidden
      vertical-align middle
      text-align -webkit-center
      position relative
      #img
        opacity: 0
        position absolute
        left 20%
        top 40%
        z-index 10
        display none
        border none
      #inputImg
        display none
      img.photos
        display block
        width 86px
        height 69px
        position absolute
        top 50%
        left 50%
        margin-top -34.5px
        margin-left -43px
      img
        min-height auto
        height 100%
        width 100%
        min-width auto
        position absolute
        top -5px
        left 0
    div.sign
      display none
      color #fff
      p
        font-size 30px;
      p.sign-phone
        font-size 34px
        margin-top 10px;
        color #fff
    div.login
      display block
      .btn-login
        font-size 34px
        padding 22px 85px
        border 1px solid #fff; /*no*/
        border-radius 40px
        color #fff
      .btn-login:active
        background-color #fff
        color #36bac9
  .index-bottom
    a
      width 100%
      display block
      background-color #fff
      color #344559
      font-size 34px
      height 120px
      line-height 120px
      margin-top 20px
      position relative
      i.icon
        width 40px
        display inline-block
        position relative
        top 5px /*no*/
        margin-left 47px
        margin-right 29px
      i.arrow
        background:url(http://patienth5.szyyky.com/build/imgWX/icon5.png) no-repeat top center
        width 18px
        height 32px
        background-size 100% 100%
        position absolute
        right 32px
        top 44px
    a.btn-bespeak
      i.icon
        height 41px
        background:url(http://patienth5.szyyky.com/build/imgWX/icon1.png) no-repeat top center
        background-size 100% 100%
    a.btn-archives
      i.icon
        height 38px
        background:url(http://patienth5.szyyky.com/build/imgWX/icon2.png) no-repeat top center
        background-size 100% 100%
    a.btn-contact
      i.icon
        height 38px
        background:url(http://patienth5.szyyky.com/build/imgWX/icon3.png) no-repeat top center
        background-size 100% 100%
    a.btn-quit
      display none
      i.icon
        width 37px
        height 38px
        background:url(http://patienth5.szyyky.com/build/imgWX/icon4.png) no-repeat top center
        background-size 100% 100%
  .index-layout
    background-color rgba(0,0,0,0.2)
    width 100%
    height 100%
    position fixed
    z-index 100
    top 0
    left 0
    display none
    .layout-main
      background-color #fff
      width 77.5%
      position absolute
      left 11.25%
      top 24%
      text-align center
      border-radius 10px
      .layout-img
        width 100px
        height 100px
        margin-top 60px
      p.layout-tit
        color #4e5e75
        font-size 34px
        margin-top 32px
      p.layout-con
        color #919dae
        font-size 26px
        border-bottom 1px solid #dbdbdb /*no*/
        margin-top 29px
        padding-bottom 54px
      a
        font-size 30px
        color #919dae
        height 100px
        line-height 100px
        display inline-block
        width 50%
      a.quit
        border-right 1px solid #ddd /*no*/
      a.cancel
        color #36bac9
        
      
    
  
body.login
  background-color #43547d
  text-align center
  .login-main
    
    .logo
      width 250px;
      height 250px;
      margin 77px auto;
    .login-from
      margin 0 auto;
      width 80%;
      p
        border-bottom 1px solid #67769b /*no*/
        height 100px
        line-height 100px
        position relative
        text-align left
        input
          border none
          width 350px
          height 100px
          line-height 100px
          font-size 30px
          color #fff
        input::-webkit-input-placeholder
          color #7c8baf
          text-shadow: none; 
          -webkit-text-fill-color: initial;
        i.icon
          margin-left 27px
          display inline-block
          position relative
      p.from-phone
        i.icon
          width 28px
          height 46px
          background:url("http://patienth5.szyyky.com/build/imgWX/icon6.png")no-repeat top center
          background-size 100% 100%
          top 15px
          margin-right 38px
      p.from-img
        i.icon
          width 33px
          height 33px
          background:url("http://patienth5.szyyky.com/build/imgWX/icon10.png")no-repeat top center
          background-size 100% 100%
          top 8px
          margin-right 34px
        .validCode
          position absolute
          width 160px
          height 66px
          top 17px
          right 0
      p.from-yzm
        i.icon
          width 42px
          height 34px
          background:url("http://patienth5.szyyky.com/build/imgWX/icon7.png")no-repeat top center
          background-size 100% 100%
          top 15px
          margin-right 23px
        a.authcode
          height 100px;
          line-height 100px;
          font-size 30px
          position absolute
          right 0
          .huoqu
            color #36bac9
          .djs
            color #919dae
            i
              color #36bac9
    .login-btn
      input
        width 80%
        background-color #36bac9
        color #fff
        font-size 30px
        display block
        height 100px
        line-height 100px
        margin 10px auto;
    .shuoming
      font-size 24px
      color #7c8baf
      text-align center
      margin-top 60px
    .xieyi
      font-size 24px
      color #7c8baf
      text-align center
      position relative
      a
        color #36bac9
      .piaochecked
        position relative
        width: 28px
        height: 28px
        cursor: pointer
        margin-right: 10px
        top 5px
        text-align: center
        background: url("http://patienth5.szyyky.com/build/imgWX/check1.png") no-repeat top center
        background-size 100% 100%
        display inline-block
        .radioclass
          opacity: 0
          cursor: pointer
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
          filter: alpha (opacity=0)
      .on_check
        background: url("http://patienth5.szyyky.com/build/imgWX/check2.png") no-repeat top center
        background-size 100% 100%
  .login-layout
    background-color rgba(0,0,0,0.2)
    width 100%
    height 100%
    position fixed
    z-index 100
    top 0
    left 0
    display none
    .layout-main
      background-color #fff
      width 77.5%
      position absolute
      left 11.25%
      top 35%
      text-align center
      border-radius 10px
      p
        color #4e5e75
        font-size 32px
        border-bottom 1px solid #dbdbdb /*no*/
        margin-top 92px
        padding-bottom 62px
      a
        font-size 30px
        color #919dae
        margin-top 37px
        display block
        margin-bottom 35px