.alliance-index-box
    width 100%
    background-color #f3f3f3
    margin-top 100px
    .alliance-tit
      font-size 30px
      color #919dae
      margin-bottom 35px
      padding-top 48px
      i
        background-color #36bac9
        width 6px
        height 29px
        border-radius 3px
        margin-right 20px
        display inline-block
    .alliance-banner
      width 100%
      height 300px
      img
        min-width 100%
        height 100%
        width 100%
        min-height 100%
    .alliance-info
      width 100%
      padding 0 30px
      background-color #fff
      .alliance-info-main
        font-size 30px
        color #4e5e75
        line-height 40px
        padding-bottom 54px
        word-wrap:break-word; 
        word-break:normal;
    .alliance-expert
      background-color #fff
      margin-top 20px
      padding 0 30px
      overflow hidden
      .aliiance-expert-main
        padding-left 30px
        overflow-x scroll
        -webkit-overflow-scrolling: touch;
        ul
          li
            float left
            width 140px
            display block
            text-align center
            margin-right 50px
            margin-bottom 38px
            .expert-img
              width 140px
              height 140px
              border-radius 50%
              overflow hidden
              display block
              img
                height 100%
                width 100%
            .expert-tit
              font-size 32px
              color #344559
              margin 19px 0 17px 0
              overflow:hidden; 
              text-overflow:ellipsis;
              display:-webkit-box; 
              -webkit-box-orient:vertical;
              -webkit-line-clamp:1; 
              word-wrap:break-word; 
              word-break:normal;
            .expert-con
              font-size 26px
              color #919dae
              overflow:hidden; 
              text-overflow:ellipsis;
              display:-webkit-box; 
              -webkit-box-orient:vertical;
              -webkit-line-clamp:1; 
              word-wrap:break-word; 
              word-break:normal;
    .alliance-hosp
      background-color #fff
      margin-top 20px
      padding-left 30px
      ul
        li
          position relative
          margin-top 50px
          .hosp-img
            width 160px
            height 160px
            position absolute
            img 
              width 100%
              height 100%
          .hosp-main
            width 72%
            border-bottom 1px solid #dbdbdb
            display inline-block
            margin-left 28%
            padding-bottom 54px
            .hosp-main-tit
              font-size 32px
              color #344559
              margin-bottom 58px
              padding-right 30px
              overflow:hidden; 
              text-overflow:ellipsis;
              display:-webkit-box; 
              -webkit-box-orient:vertical;
              -webkit-line-clamp:1; 
              word-wrap:break-word; 
              word-break:normal;
            .hosp-main-con
              font-size 26px
              color #919dae
              padding-right 30px
              line-height 36px
              overflow:hidden; 
              text-overflow:ellipsis;
              display:-webkit-box; 
              -webkit-box-orient:vertical;
              -webkit-line-clamp:2; 
              word-wrap:break-word; 
              word-break:normal;
        li:last-child
          .hosp-main
            border none