.list-item
    margin-bottom: 20px;
    background-color: #ffffff
    border-bottom: 1px solid #dadada
    .list-item-title
        position relative
        height 100px
        line-height 100px
        width 100%
        .title
            font-size 32px
            color #344559
            width 490px
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap:break-word;
            overflow:hidden;
            display inline-block
            float: left;
            text-align: left;
        .price
            color: #fb699d
            font-size 30px
            position absolute
            right 0
    .list-item-img
        position: relative
        .list-item-flag
            position: absolute
            right: 34px;
            width: 75px
            height: 120px
            margin-left: -12px;
            color: #ffffff
            font-size: 28px;
            span
                position: absolute
                display: inline-block
                width: 28px
                line-height: 28px
                top: 50%
                left 50%
                transform: translateX(-50%) translateY(-50%);
        .flag1
            background-color #36bac9
        .flag1:before
            background-color #36bac9
        .flag2
            background-color #c0c6d0
        .flag2:before
            background-color #c0c6d0
        .flag3
            background-color #fb699d
        .flag3:before
            background-color #fb699d
        .list-item-flag:before
            content: " "
            width: 75px
            height: 75px
            border-radius: 50%
            display: inherit;
            position: absolute;
            left: 0;
            bottom: -25px;
        .item-img
            width: 100%
            height: 340px
            overflow: hidden
            img
                width: 100%
                max-height: 100%
    .list-item-bottom
        font-size: 26px;
        line-height 50px
        color: #919dae
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-between;
        -webkit-justify-content: space-between;
        justify-content: space-between
        padding-bottom 30px
        .time img
            width:34px;
            height: 34px
            margin-bottom: 8px
            margin-right: 23px
        .address img
            width:36px;
            height: 36px
            margin-bottom: 8px
            margin-right: 23px