// 患教详情
.patient-detail
  width 100%
  background-color #fff
  .patient-detail-top
    width 100%
    height 20px
    background-color #f3f3f3
  .patient-detail-main
    width 622.5px
    margin 60px auto
    .detail-tit
      font-size 38px
      color #344559
      word-wrap:break-word; 
      word-break:normal;
      width 622.5px
    .detail-con
      font-size 28px
      color #919dae
      margin 45px auto
      word-wrap:break-word; 
      word-break:normal;
      width 622.5px
      span
        margin-left 20px
    .detail-content
      font-size 30px
      color #4e5e75
      line-height 50px
      word-wrap:break-word; 
      word-break:normal;
      width 622.5px