.flup-eject
    .eject-con
        margin 25% auto
        background-color #fff
        text-align center
        border-radius 10px
        width 580px
        p
            .cancel
                font-size 30px
                color #919dae
                height 106px
                line-height 106px
                width 50%
                display inline-block
                border-right 0.0275rem solid #dbdbdb
            .sure
                font-size 30px
                color #36bac9
                height 106px
                line-height 106px
                width 50%
                display inline-block
        .eject-tit
            font-size 32px
            color #4e5e75
            border-bottom 0.0275rem solid #dbdbdb
            padding 80px