html,body {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 100%;
  height: 100%
}

ul,li {
  list-style-type: none;
}

img {
  border: 0
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
hgroup,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template,
script {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea::-webkit-input-placeholder{
  color:#c0c6d0;
}
input::-webkit-input-placeholder{
  color:#c0c6d0;
}

caption,
th {
  text-align: left;
}

fieldset,
img {
  border: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

li {
  list-style: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
  border-radius: 0;
}
a,a:hover,a:active,a:visited,a:link,a:focus,
i,i:hover,i:active,i:visited,i:link,i:focus,
textarea,textarea:focus,textarea:active,
input,input:hover,input:active,input:visited,input:link,input:focus{
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    outline:none;
    background: none;
    text-decoration: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  border: 0;
  background: none;
}

input[disabled],input:disabled,input[type="submit"]:disabled{
  background-color: #919dae !important;
}
a {
  -webkit-touch-callout: none;
  text-decoration: none;
}

a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}

em,
i {
  font-style: normal;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  resize: none;
}

button,
input:not([type="radio"]):not([type="checkbox"]),
select {
  vertical-align: middle;
}


/*toast提示*/
.toasttj2{
    z-index:1003;
    font-size: 1.37em;
    position: fixed;
    top:30%;
    width: 100%;
    opacity:0;
    height: 24px;
    display: none;
    transition: opacity 1s ease-out;
}

.g-tip {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10010;
  background-color: rgba(0,0,0,0.8)
}

.g-tip::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 2.5px;
  display: block;
  width: 252px;
  height: 180px
}

.g-tip-android::after {
  background: url("http://patienth5.szyyky.com/build/imgWX/wechat_tip_android.png") no-repeat 0 0;
  background-size: cover
}

.g-tip-ios::after {
  background: url("http://patienth5.szyyky.com/build/imgWX/wechat_tip_iOS.png") no-repeat 0 0;
  background-size: cover
}

.g-tip2 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10010;
  background-color: rgba(255,255,255,1)
}

.g-tip2::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 2.5px;
  display: block;
  width: 300px;
  height: 260px
}

.g-AlipayWxPay::after{
  background: url("http://patienth5.szyyky.com/build/imgWX/AlipayWxPay.jpg") no-repeat 0 0;
  background-size: cover
}