body
  width 100%
  height 100%
  background-color #f3f3f3
  padding-top 20px
  position relative
  .people
    background-color #fff
    font-size 30px
    color #919dae
    height 120px
    line-height 120px
    width 100%
    p
      width 100%
      height 100%
      position relative
      span
        width 20%
        letter-spacing:10px;
      input
        border none
        height 120px
        line-height 120px
        margin-left 20px
        width 70%
      i
        display inline-block
        width 10px
        height 10px
        background:url("http://patienth5.szyyky.com/build/imgWX/icon.png")no-repeat top center
        background-size 100% 100%
        position relative
        top -5px
        margin-right 12px
        margin-left 5%
  .phone
    background-color #fff
    margin-top 20px
    font-size 30px
    color #919dae
    height 120px
    line-height 120px
    width 100%
    p
      width 100%
      height 100%
      position relative
      span
        width 20%
      input
        border none
        height 120px
        line-height 120px
        margin-left 20px
        width 70%
      i
        display inline-block
        width 10px
        height 10px
        background:url("http://patienth5.szyyky.com/build/imgWX/icon.png")no-repeat top center
        background-size 100% 100%
        position relative
        top -5px
        margin-right 12px
        margin-left 5%
  .adress
    background-color #fff
    margin-top 20px
    height 370px
    width 100%
    p
      width 100%
      height 120px
      line-height 120px
      font-size 30px
      color #919dae
      position relative
      span
        width 20%
      i
        display inline-block
        width 10px
        height 10px
        background:url("http://patienth5.szyyky.com/build/imgWX/icon.png")no-repeat top center
        background-size 100% 100%
        position relative
        top -5px
        margin-right 12px
        margin-left 5%
  textarea
    height 180px
    margin-left 5%
    width 90%
    border none
    font-size 30px
  textarea::-webkit-input-placeholder
    color #c0c6d0
    text-shadow: none; 
    -webkit-text-fill-color: initial;
  .button
    width 100%
    text-align center
    margin-top 2rem
    .btn
      display block
      width 80%
      height 100px
      line-height 100px
      color #fff
      letter-spacing:10px;
      font-size 30px
      background-color #36bac9
      margin: 0 auto
      border-radius 5px
    p
      font-size 24px
      color #919dae
      margin-bottom 30px
      position relative
      i
        display inline-block
        width 30px
        height 30px
        background:url("http://patienth5.szyyky.com/build/imgWX/icon8.png")no-repeat top center
        background-size 100% 100%
        position relative
        top 5px
        margin-right 12px